*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

.section-2{
    width: 100%;
    height: auto;
}

.result{
    display: flex;
    width: 100%;
    position: relative;
    padding: 20px 100px;
}

.search-result{
    display: flex;
    padding: 0px 50px 0px 50px;

    
}

.category{
    display: block;
    position: relative;
    justify-content: center;
    flex-direction: row;
    width: 250px;
}

.category select{
    position: relative;
    height: 50px;
    width: 100%;
}

.product-page{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin-left: 50px;
}

.product{
    display: block;
    position: relative;
    width: 230px;
    height: 400px;
    margin-top: 20px;
    background-color: beige;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.product:hover{
    transform: translateY(-10px);
}

.product img{
    width: 90%;
    height: auto;
    justify-self: center;
    margin: 10px
}

.text{
    text-align: left;
    margin: 0 10px;
}