@media (max-width: 2560px) {
    .nav_bar a{
        font-size: 20px;
    }
    .title-text{
        font-size: 20px;
    }
    .timer-text{
        font-size: 15px;
    }
    .story h1{
        font-size: 60px;
    }
    .info-box p{
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .nav_bar a{
        font-size: 20px;
    }
    .title-text{
        font-size: 20px;
    }
    .timer-text{
        font-size: 15px;
    }
    .info-box p{
        font-size: 25px;
    }
}

@media (max-width: 1025px) {
    .nav_bar a{
        font-size: 15px;
    }
    .title-text{
        font-size: 30px;
    }
    .timer-text{
        font-size: 20px;
    }
    .info-box p{
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    .nav_bar a{
        font-size: 15px;
    }
    .title-text{
        font-size: 20px;
    }
    .timer-text{
        font-size: 15px;
    }
    .info-box{
        width: 300px;
        height: 600px;
    }
    .info-box p{
        height: 70%;
        font-size: 15px;
    }
    .story h1{
        font-size: 25px;
    }
    .story p{
        font-size: 15px;
    }
    .slider{
        height: 400px;
    }
    .section-4 p{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .title-text{
        font-size: 19px;
    }
    .timer-text{
        font-size: 15px;
    }
    .hide-on-mobile{
        display: none;
    }
    .hide-on-pc{
        display: block;
    }
    .section-1 .wave{
        top: 80%;
        width: 500px;
    }
    .timer-box-screen, .timer-box{
        width: 70%;
        height: 40%;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .section-2 h1{
        font-size: 30px;
    }
    .story h1{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .story p{
        font-size: 12px;
    }
    .story img{
        width: 40%;
    }
    .section-4 h1{
        font-size: 30px;
    }
    
    .section-4 p{
        font-size: 25px;
    }
}

@media (max-width: 376px) {
    .title-text{
        font-size: 16px;
    }
    .timer-text{
        font-size: 12px;
    }
    .section-2 h1{
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .title-text{
        font-size: 14px;
    }
    .timer-text{
        font-size: 12px;
    }
    .story h1{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .story p{
        font-size: 10px;
    }
    .story img{
        width: 40%;
    }
}
