/* color pattle */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'San Francisco', Helvetica;
}

body{
    background: #1c2833;

}

.nav ul{
    width: 100%;
    list-style: none;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 90;
}

.nav li{
    height: 40px;
}

.nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(180, 180, 180);
}

.nav li:first-child{
    margin-right: auto;
}

.nav a:hover{
    color: white;
    transition: 0.3s;
}

.sidebar{
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    height: 100vh;
    max-width: 250px;
    z-index: 100;
    background-color: rgb(0, 0, 0,0.7);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px, black;
    display: none;
    flex-direction: column;
}

.section-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hide-on-pc{
    display: none;
}

.image-home{
    position: relative;
    width: 90%;
    margin: auto;
}

.timer-box{
    position: absolute;
    width: 40%;
}

.timer-box-screen{
    position: absolute;
    width: 40%;
    height: 30%;
    background-color: black;
    opacity: 0.5;
    border-radius: 25px;
}

.title-text{
    position: relative;
    width: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.timer-text{
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.kyn-info{
    position: absolute;
    top: 200px;
    left: 10%;
    width: 30%;
    height: 700px;
    background-image: linear-gradient(rgb(148, 255, 255), white);
    border-radius: 40px;
    /* border: 5px solid aqua; */
}

.kan-info{
    position: absolute;
    top: 200px;
    left: 60%;
    width: 30%;
    height: 700px;
    background-color: #DBC2EE;
    background-image: linear-gradient(#DBC2EE, white);
    border-radius: 40px;
    /* border: 5px solid #B69FD5; */
}

.kyn-info::after, .kyn-info::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(blue, white, blue);
    top: -1.5%;
    left: -2%;
    z-index: -1;
    padding: 10px;
    border-radius: 47px;
    animation: 3s spin linear infinite;
}

.kyn-info::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.kan-info::after, .kan-info::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(purple, white, purple);
    top: -1.5%;
    left: -2%;
    z-index: -1;
    padding: 10px;
    border-radius: 42px;
}

.kan-info::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}


.section-1{
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
}

.section-1-title{
    font-family: cursive;
    font-size: 50px;
    position: relative;
    top: 00px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
}

.kyn-avatar{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid aqua;
}

.kan-avatar{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 5px solid #B69FD5;
}

.bio-name{
    font-family: cursive;
    font-size: 30px;
    position: absolute;
    top: 20px;
    width: 500px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.quote-text{
    font-family: cursive;
    font-size: 15px;
    position: absolute;
    top: 70px;
    width: 490px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.about-text{
    font-family: cursive;
    font-size: 25px;
    position: relative;
    width: 200px;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 20px; 
}

.bio-box{
    position: relative;
    top: 150px;
    left: 20px;
    width: 400px;
    height: 380px;
}

.bio-text{
    position: relative;
    left: 20px;
    font-family: cursive;
    font-size: 15px;
    width: 370px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.social-media{
    position: relative;
    left: 20px;
    width: 400px;
    height: 200px;
}

.social-media-box{
    position: relative;
    left: 20px;
    width: 360px;
    height: 50px;
}

.social-media-icon{
    position: relative;
    top: 10px;
    left: 20px;
    width: 40x;
    height: 30px;
    align-items: center;
}

.social-media-text{
    position: relative;
    font-family: cursive;
    font-size: 20px;
    width: 10px;
    text-align: left;
    left: 50px;
    color: rgb(0, 0, 0);
}

.see-more-button{
    position: relative;
    font-family: cursive;
    font-size: 15px;
    color: black;
    background-color: #7FFF00;
    width: 90px;
    height: 50px;
    border-radius: 25px;
    border: none;
    top: 30px;
    left: 39%;
}

.see-more-button:hover{
    background-color: transparent;
    border: 3px solid #7FFF00;
    transition: 0.4s;
}

.section-2{
    position: relative;
    width: 100%;
    height: 1200px;
    background-color: black;
}

.spotify{
    position: relative;
    left: 60px;
    margin: 30px;
    box-shadow: 0px 0px 40px white;
}


.spotify-logo{
    position: absolute;
    width: 220px;
    height: auto;
    margin: 30px;
}

.subtitle{
    font-family: cursive;
    font-size: 25px;
    position: relative;
    width: 80%;
    text-align: center;
    color: white;
    left: 0px;
}

.section-3{
    position: absolute;
    height: 1000px;
    width: 100%;
    background: beige;
}

.box{
    position: relative;
    min-height: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container{
    position: relative;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
    background: rgb(239, 239, 131);
    left: 9%;
    margin: 20px;
    border-radius: 42px;
    border: 5px solid black;
    margin-top: 50px;

}

.image-contact{
    position: relative;
    width: 400px;
    height: auto;
    left: 50px;
}

.contact-container-a{
    position: relative;
    align-items: center;
    height: 550px;
    width: 450px;
    margin-left: 20px;
    margin-top: 20px;
}

.contact-icon{
    position: relative;
    align-items: center;
    width: 50px;
    height: auto;
    margin: 10px;
    left: 100px;
}

.contact-divide-colum{
    position: relative;
    width: 1px;
    height: 510px;
    border: 3px solid black;
    border-radius: 5px;
    bottom: 90%;
    left: 50%;
}

.contact-container-b{
    position: relative;
    align-content: center;
    justify-content: center;
    height: 550px;
    width: 450px;
    bottom: 1075px;
    left: 650px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: orange;
    border: 3px solid black;
    border-radius: 25px;
}

.input-box input,
.input-box textarea{
    margin-top: 40px;
    margin-left: 40px;
    border: none;
    padding: 5px 0;
    position: relative;
    width: 80% !important;
    font-size: 1.1em;
    background: transparent;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.input-box label{
    position: absolute;
    left: 0px;
    pointer-events: none;
    margin-top: 40px;
    margin-left: 40px;
    font: 20px;
    transition: 0.4s;
    font-family: cursive;
    font-size: 20px;
}

.input-box input:focus ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label,
.input-box input:valid ~ label {
  color: white;
  font-size: 15px;
  transform: translateY(-24px);
}

.input-box input[type="submit"]{
    width: 80%;
    background-color: wheat;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-family:  cursive;
}